.ns-main {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #1f6b6b;
  color: #fff;
  font-size: 0.75rem;
  padding: 0 10px;
}

.ns-child {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.ns-option {
  margin: 10px 0;
  padding: 0 10px;
  line-height: 1.3;
}

.login-button {
  margin: unset;
  padding: 10px 22px;
  cursor: pointer;
  color: #fff; 
  background: #B71C1C;
}
