body {
  margin: 0;
  font-family: "Roboto" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #333;
}

tr td {
  color: #333 !important;
}

.text-darkgrey {
  color: #333 !important;
}

.text-red,
.text-red > * {
  color: #e8474c !important;
}

.btn,
.form-control {
  border-radius: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
